/* 1200px */
@media only screen and (min-width:1200px) {
    
    .scroll{
        width: 100%;
        background: url(./img/bodyback1200.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #5a3815;
    }
    
    /* 상단 네비게이션 */
    header {
        height: 100px;
    }
    
    #nav-pc {
        width: 450px;
        margin: auto;
    }
    
    a.icon {
        display: none;
    }
    
    #nav-mobile {
        display: none;
    }
    
    ul li {
        /*width: 80px;*/
        height: 80px;
        line-height: 80px;
        padding-left: 20px;
        padding-right: 20px;
        float: left;
    }
    
    /* content */
    
    .container {
        font-family: "고딕", Arial, sans-serif;
        width: 750px;
        padding-right: 60px;
        padding-left: 60px;
        margin: auto;
        background-color: rgba( 0, 0, 0, 0.8 );
    }
    
    .st1 {
        background-color: black;
    }
    
    .st2 {
        background-color: none;
    }
    
    /* home */
    
    /* about */
    .about .content{
        width: 430px;
        float: left;
    }
    
    .about_box{
        width: 400px;
        height: 250px;
        position: relative;
        top: -80px;
        left: 260px;
    }
    
    .about_box img{
        width: 400px;
    }
    
    /* series */
    
    .ser_wrap{
        position: relative;
    }
    
    .ser_box1{
        width: 750px;
        height: 48vw;
        margin: auto;
        background-color: rgba( 0, 0, 0, 0.8 );
    }
    
    .ser_box2{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    
    .series_img{
        height: 48vw;
        width: 70vw;
        margin: auto;
    }
    
    .series_img .series_back{
        width: 100%;
        height: 100%;
        margin: auto;
        
        background-image: url(./img/map_japen.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }
    
    /* roadmap */
    
    .roadmap .roadmap_txt{
        float: left;
        padding: 70px 0px;
    }
    
    .roadmap .roadimg{
        height: 160px;
        float: right;
        position: relative;
        top: 50px;
        opacity: 0;
    }
    
    .roadmap .imgdown{
        top: 80px;
    }
    
    .roadmap .imgright{
        left: 46px;
    }
    
    .roadmap .imgsmall{
        height: 240px;
    }
    
    /* team */
    
    .team_box{
        width: 295px;
        height: 300px;
        float: left;
    }
    
    .links{
        width: 600px;
        margin: auto;
    }
    
    .links .linkurl{
        width: 300px;
        text-align: center;
        float: left;
        padding: 20px 0px;
    }
    
    .linktitle{
        text-align: center;
        padding: 10px 0px;
    }
    
    .linktitle img{
        width: 140px;
    }
    
}

/* 768px ************************************************************************/
@media only screen and (min-width:576px) and (max-width:1199px){
    
    
    .scroll{
        width: 100%;
        background: url(./img/bodyback768.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #5a3815;
    }
    
    .bgcolor{
        background-color: rgba( 0, 0, 0, 0.8 );
    }
    
    /* 상단 네비게이션 */
    header {
        height: 80px;
    }
    
    #nav-pc {
        width: 360px;
        float: right;
    }
    
    a.icon {
        display: none;
    }
    
    #nav-mobile {
        display: none;
    }
    
    ul li {
        height: 60px;
        line-height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }
    
    /* content */
    
    .container {
        font-family: "고딕", Arial, sans-serif;
        /*color: #989c9b;*/
        width: 560px;
        padding-right: 60px;
        padding-left: 60px;
        margin: auto;
    }
    
    .st1 {
        background-color: black;
    }
    
    .st2 {
        background-color: none;
    }
    
    /* home */
    
    /* about */
    
    .about_box{
        position: relative;
        width: 200px;
        top: -30px;
        left: 240px;
    }
    
    .about_box img{
        width: 200px;
    }
    
    /* series */
    
    .ser_wrap{
        position: relative;
    }
    
    .ser_box1{
        width: 750px;
        height: 48vw;
        margin: auto;
    }
    
    .ser_box2{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    
    .series_img{
        height: 48vw;
        width: 70vw;
        margin: auto;
    }
    
    .series_img .series_back{
        width: 100%;
        height: 100%;
        margin: auto;
        
        background-image: url(./img/map_japen.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
    }
    
    /* roadmap */
    
    .roadmap .roadimg{
        height: 160px;
        position: relative;
        top: -30px;
        opacity: 0;
    }
    
    /* team */
    
    .team_box{
        float: left;
        width: 200px;
        height: 320px;
    }
    
    .links{
        width: 400px;
        margin: auto;
    }
    
    .links .linkurl{
        width: 200px;
        text-align: center;
        float: left;
        padding: 20px 0px;
    }
    
    .linktitle{
        text-align: center;
        padding: 10px 0px;
    }
    
    .linktitle img{
        width: 140px;
    }
    
}

/* 576px ********************************************************************/
@media only screen and (max-width:575px){
    
.scroll{
    width: 100%;
    background: url(./img/bodyback576.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #5a3815;
}

/* 상단 네비게이션 */
header {
    height: 60px;
}

#nav-pc {
    display: none;
}

#nav-mobile {
    display: block;
    width: 100%;
}

#nav-mobile a.rw:not(.icon) {
    width: 100%;
    float: left;
    display: none;
}

#nav-mobile a.icon {
    width: 20%;
    margin-left: 80%;
    height: 40px;
}

#nav-mobile a{
    display: block;
}

#nav-mobile a.rw{
    display: block;
    background-color: black;
    height: 50px;
    line-height: 50px;
}

.change .bar1 {
    transform: rotate(-225deg) translate(9px, -8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(225deg) translate(8px, 6px);
}

.change{
    background-color: black;
}

.btn-st {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: opacity 0.6s, transform 0.4s;
}



/* content */

.container {
    font-family: "고딕", Arial, sans-serif;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin: auto;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.st1 {
    background-color: black;
}

.st2 {
    background-color: none;
}

.title img{
    height: 30%;
}

/* home */

#reroll_button{
    width: 40%;
}

/* about */
.about{
    width: 100%;
}

.about .content p{
    font-size: 16px;
}

.about_box{
    position: relative;
    width: 200px;
    top: 10px;
    left: 0px;
}

.about_box img{
    width: 200px;
}

/* series */
.series{
    width: 100%;
}

.series_txt{
    width: 70%;
}

.series_txt p{
    font-size: 16px;
}

.ser_wrap{
    position: relative;
}

.ser_box1{
    width: 750px;
    height: 60vw;
    margin: auto;
}

.ser_box2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba( 0, 0, 0, 0.8 );
}

.series_img{
    height: 60vw;
    width: 90vw;
    margin: auto;
}

.series_img .series_back{
    width: 100%;
    height: 100%;
    margin: auto;

    background-image: url(./img/map_japen.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}


/* roadmap */
.roadmap{
    width: 100%;
}

.roadmap_txt p{
    font-size: 16px;
}

.roadmap_txt .roadtitle{
    font-weight: bold;
    font-size: 20px;
}

.roadmap .roadimg{
    height: 140px;
    position: relative;
    top: -30px;
    opacity: 0;
}

/* team */
.team{
    width: 100%;
}

.team_box{
    height: 100%;
}

.team_box p{
    font-size: 16px;
}

.team_box img{
    width: 30%;
    float: right;
}

.links{
    width: 100%;
    margin: auto;
}

.links .linkurl{
    width: 50%;
    text-align: center;
    float: left;
    padding: 20px 0px;
}

.links .linkurl img{
    width: 50%;
}

.linktitle{
    text-align: center;
    padding: 10px 0px;
}

.linktitle img{
    width: 50%;
}

}